@model IEnumerable<TableTendersMVCService.Models.Tender>


@if (Model == null)
{
    <h2>Ошибка - На сервис API не загружены даные! Выполните загрузку и повторите попытку запроса данных.</h2>
}
else
{
    <h2>Тендеры</h2>
    <p>
        <table>
            <tr>
                <td>Название тендера</td>
                <td>Дата начала</td>
                <td>Дата окончания</td>
                <td>URL тендерной площадки</td>
            </tr>
            @foreach (var tender in Model)
            {
                <tr>
                    <td>@tender.Name</td>
                    <td>@tender.StartDate</td>
                    <td>@tender.ExpirationDate</td>
                    <td>@tender.TenderSiteURL</td>
                </tr>
            }
        </table>
    </p>
}

<form method="post" asp-controller="Account" asp-action="Logout">
    <input type="submit" value="Выход" />
</form>
