@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @if (User.Identity.IsAuthenticated)
    {

        <p>@User.Identity.Name</p>

        <p>
            <form asp-action="GetTender" method="get">
                <input type="submit" value="Запрос данных" />
            </form>>
        </p>


        <form method="post" asp-controller="Account" asp-action="Logout">
            <input type="submit" value="Выход" />
        </form>
    }
    else
    {
        <h2>
            <a asp-controller="Account" asp-action="Login">Вход</a>
            <a asp-controller="Account" asp-action="Register">Регистрация</a>
        </h2>
    }


</div>
